<html>
  <head>
    <title>SmartCup</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css"
        integrity="sha256-I5Bnap4knjVMNUid7S9a6SI7AhUzzw47HLI4Ohrl2no="
        crossorigin="anonymous" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"
        integrity="sha256-W0Tnsbs/T3dgnwYioTOlfjqnj6PvOHO9/NitMcWAD1w="
        crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>SmartCup</h1>
      {% for user in users %}
        <input type="radio" name="user_id" value="{{ user.id }}" />
        {{ user.username }} ({{ user.email }}) <br />
      {% endfor %}
      <br />
      <label for="from_datetime">From</label>
      <input type="text" id="from_datetime" /><br /><br />
      <label for="to_datetime">To</label>
      <input type="text" id="to_datetime" /><br /><br />
      <button id="view">View Data</button>
      <button id="export">Export Data</button>
    <script>
      jQuery(function($) {
        $("#from_datetime").datetimepicker({format:'d/m/Y H:i:s'});
        $("#to_datetime").datetimepicker({format:'d/m/Y H:i:s'});
        $("#view").click(function(){
            var userID = $("input[name='user_id']:checked").val();
            var fromDate = Date.parse($("#from_datetime").val()).toString();
            var toDate = Date.parse($("#to_datetime").val()).toString();
            document.location.href = "/data/" + userID + "/?from="
                + fromDate + "&to=" + toDate;
        });
        $("#export").click(function(){
            var userID = $("input[name='user_id']:checked").val();
            var fromDate = Date.parse($("#from_datetime").val()).toString();
            var toDate = Date.parse($("#to_datetime").val()).toString();
            document.location.href = "/data/" + userID + "/export/?from="
                + fromDate + "&to=" + toDate;
        });
      });
    </script>
  </body>
</html>
